@font-face {
	font-family: 'Liberation Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../public/LiberationSans-Regular.woff2') format('woff2')
}

@import '_vars.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

body,
p,
ul,
li {
	margin: 0;
	padding: 0;
	font: $font-main;
}

li {
	list-style-type: none;
}

textarea {
	display: block;
	font: $font-main;
	@include card-item;
	resize: none;
	width: 100%;
}

input[type="text"] {
	font: $font-main;
	border: 1px solid #ccc;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+span {
	padding-left: 14px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAARVBMVEUAAACKi4vw8PC4ubmhoaHo6Ojb29vz8/Pq6+vY2drFyMzCwsKzuL3g4ODN0NTIzdK8v8Pk5OTT1djT09POzs7b3eC9wsgylsntAAAAAXRSTlMAQObYZgAAAGlJREFUCNdVjkkSxCAMA7HAC4Qty8z/nxqTnKKTu1zVUvAk8qTwhGIGcqTn3qzUWmxzSpHrHKNMiymQlP/o+XeeQoFQ+yE784UFMzcGIAukHwxVYyEX2NWgMMS01Gi7/1z9lqrKKv3MuQEGDwM0Of4dIwAAAABJRU5ErkJggg==') no-repeat 0 50%;
}

input[type="radio"]:checked+span {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAflBMVEUAAAC83OSPt8iXoKVVhKBkhJdphZba9fccPVcXMkiRy+ybwc/c9/nS8/nO8PkPoPKauMsiwP5lostinsZZmrwURWMqSF9z/v4xyf7o9v2w9fkcqfIpr/G93+6Y0u5+5e3G4u2u2exoqs2Nssh5pMBroL9FY3k0UWcMQmYjQ1zUXCENAAAAAXRSTlMAQObYZgAAAHVJREFUCNdVjlkShCAMRCFBkiAK6ujs+37/C04Gv+yvvKqu1zEa9M55NCUVWCILVbnrJgxDaGolhLafXm/uW0Djbfjm7Xnkk/XG0WrarTd7eZL7gxy6LslDQWs8pvTho9ZUcGMRzgRY1Nd7vkRVz6MxltHFOz+4rQWnwhMIKgAAAABJRU5ErkJggg==') no-repeat 1px 50%;
}

.img-wnd-close {
	background: no-repeat 0/contain url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAo0lEQVR42mNggIIZu57/JxYzIAOQwL9//4jGcANI1YhiAEzzuz8QPG/jIzgbGSOLY2h++QOiQNWpH0yD+DCMLo6h+elXCEZWiI0PwhiaH3xCYGQNMBpZHkPzuce/UDCyRnQ5DM0Xnv6GY2w2I8tjaL78/C8YI2vAxgdhDM1XX6L6FcSHYXRxDM03XkMwSAGMjYyRxbEmEmya0DFKIqEobVOSqwDKyew+DCUMZQAAAABJRU5ErkJggg==');
}


.mr12:not(last-child) {
	margin-right: 12px;
}
